<html>

<head>
    


    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

 <script src="/hospital/scripts/custom/navigate.js"></script>

    <style>
        body {
            background-image: url('assets/img/vasu1.jpg');
            background-repeat: no-repeat;
            background-size: 1500px 1000px;
        }
    </style>

  <!-- CSS Files -->
<link href="/hospital/css/angular-ui.min.css" rel="stylesheet">               

<!-- Other Script Files  -->    
<script type="text/javascript" src="/hospital/scripts/others/FileSaver.js"></script> 

<!-- Custom Scripts -->

<script type="text/javascript"	src="/hospital/scripts/custom/applicationregister.js"></script>
<script type="text/javascript"	src="/hospital/scripts/general/UpdateModule.js"></script>
</head>

<body>
<div style="background: linear-gradient(45deg, #A2C7E5 30%,  lightgrey 50%);" id="regid" data-ng-controller="RegistrationController"> 
<br>
<br>
<br>
<br>
<br>
<br>
<center><h1 style="font-family:gabriola;color:#dc143c">--View Appointment details--</h1></center>    
<br>

<center>
<table id="myTable" class=" table order-list">
        <div class="mb-3">
            <thead class="mt-5 bg-info">
                <tr>
                    <td>
                        <h3>Name</h3>
                    </td>
                    <td>
                        <h3>Hospital</h3>
                    </td>
                    <td>
                        <h3>Specialist</h3>
                    </td>
                    <td>
                        <h3>Date</h3>
                    </td>
                    
                    <td>
                        <h3>Action</h3>
                    </td>

                </tr>
            </thead>
        </div>
        <tbody>
            <tr>
                <td class="col-md-2">
                    <div>

                      <input type="text" data-ng-model="data.object.username" data-ng-value="data.object.username" class="form-control" name="Name" placeholder="Name" required pattern="[a-zA-Z'-'' ']{3,20}"  maxlength="20" pattern="[A-Za-z ]{3,20}"  title="Name Must Be Between 3 to 20 Characters without numbers"  disabled/>

                    </div>
                </td>
         
                <td class="col-md-2">

                    <input type="text" name="hospitalname" placeholder="Hospital Name" class="form-control" data-ng-model="data.object.hospital" disabled/>
                </td>
                <td class="col-md-2">

                   <input type="email" class="form-control" name="email" placeholder="speciality"  data-ng-model="data.object.speciality" required pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}"  title="please enter a valid email" disabled />
                </td>
                <td class="col-md-2">

                    <input type="date"  class="form-control"  data-ng-model="data.object.date" required/>
                </td>

                <td class="col-md-2">
                    <input type="button" class="btn btn-lg btn-block btn btn-success" data-ng-click="getAppointments(data.object)" value="GetAppointments" />
                </td>
            </tr>
            <br>
            <br>
            
            
        </tbody>
       

    </table>
    </center>
    <br>
    <br>
    <br>
    <table id="myTable" class=" table order-list">
        <div class="mb-3">
            <thead class="mt-5 bg-info">
                <tr>
                    <td>
                        <h3>Name</h3>
                    </td>
                    <td>
                        <h3>Email</h3>
                    </td>
                    <td>
                     <h3>Mobileno</h3>
                     </td>
                    <td>
                        <h3>Problem</h3>
                    </td>
                    <td>
                        <h3>Date</h3>
                    </td>
                    <td>
                        <h3>Time</h3>
                    </td>

                    <td>
                        <h3>Action</h3>
                    </td>

                </tr>
            </thead>
        </div>
        <tbody>
            <tr data-ng-repeat="userdata in appoint">
                <td class="col-md-2">
                 

                       <input type="text" data-ng-model="userdata.username" class="form-control" name="Name" placeholder="Name" required pattern="[a-zA-Z'-'' ']{3,20}"  maxlength="20" pattern="[A-Za-z ]{3,20}"  title="Name Must Be Between 3 to 20 Characters without numbers"  disabled/>
					

                    
                </td>
                <td class="col-md-2">
                    
                  <input type="email" class="form-control" name="email" placeholder="speciality"  data-ng-model="userdata.email" required pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-zA-Z]{2,4}"  title="please enter a valid email" disabled />
					
                   
                </td>
                <td class="col-md-2">

                    <input type="text" class="form-control" name="mobile" placeholder="Mobile Number" data-ng-model="userdata.mobileno" maxlength="10" required pattern="[6-9]{1}[0-9]{9}" title="Mobile Number must start with 6-9 and it should be followed by 9 digits" disabled/>
                </td>
                <td class="col-md-2">

                   <input type="text" class="form-control" name="problem" placeholder="ProblemName"  data-ng-model="userdata.speciality" required disabled/>
                </td>
                <td class="col-md-2">
                        	<input type="text"  class="form-control"  data-ng-model="userdata.date" required disabled/>
                </td>
                <td class="col-md-2">

                    <input type="text"  class="form-control"  data-ng-model="userdata.time" required disabled/>
                </td>

                <td class="col-md-2">
                    <input type="button" class="btn btn-lg btn-block btn btn-success" data-ng-click="delAppointment(userdata)" value="Appointment Over" />
                </td>
            </tr>
            <br>
            <br>
            <br>
            
        </tbody>
       

    </table>
    </center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</div>

<script>

jQuery(document).ready(function() {
	
	angular.bootstrap(jQuery("#regid"), [ 'RegistrationModule' ]);
});


</script>
</body>

</html>